*,
*::before,
*::after {
  box-sizing: border-box;
}

.delete-button {
    color: white;
    background-color: #d9534f;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
}

.delete-button:hover {
    background-color: #c9302c;
}

.change-button {
    color: white;
    background-color: #243cc2;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
}

.change-button:hover {
    background-color: #1c2f99;
}
